body{
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
}

nav{
    border-bottom: solid;
    background-repeat: repeat;
    background-image: linear-gradient(#0000006c, #ba0c2f8f);

    display: flex;
    justify-content: space-between;
}

footer{
    border-top: solid;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    
}

.splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1{
        color: rgb(101, 24, 24);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    img{
        border-style: outset;
        border-width: 4px;
        border-color: #ba0c2fbb;
        border-radius: 30px;
    }
    p {
        width: 70%;
        font-size: large;
    }
    #address{
        font-size: smaller;
        text-align: center;
    }

}

hr{
    display: block;
    border-bottom: double;
    border-color: #ba0c2f ;
}

#edu{
    text-align: center;
}

section{
    h2{
        color: rgb(101, 24, 24);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
}

ul{
    list-style-type: square;
    font-size:large
}

#firstList{
    margin: auto;
    width: 10%;
}

dl{
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    font-size: larger;
}

section a{
    color:#ba0c2f;
    text-decoration: none;
}
section a:hover{
    color: blue;
}


div img {
    width: 135px;
}

.card1{
    border-style: solid;
    border-color: #0000009a;
    box-shadow:10px 10px 20px 10px grey;
}
.card2{
    border-style: solid;
    border-color: #0000009a;
    box-shadow:10px 10px 20px 10px grey;
    
}
.card3{
    border-style: solid;
    border-color: #0000009a;
    box-shadow:10px 10px 20px 10px grey;
}

.three-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.forms{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 35px;
    color:#ba0c2f;
}

.text1{
    background-color: #6666662d;
}

.info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

